<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Acts As Queryable Test</title>
<%= yield :header_tags -%>
</head>
<body>
  <div id="content">
    <%= yield %>
  </div>
</body>
</html>